#galaxy {
  position: relative;
}

#sun {
  background-color: #fb7209;
  position: absolute;
  width: 20em;
  height: 20em;
  box-shadow: 0 0 60px rgba(255, 160, 60, 0.4);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.orbit {
  position: absolute;
  border: 10px solid #c3cfe9;
  border-radius: 50%;
  // top: 50%;
  // left: 50%;
}

.planet {
  position: relative;
  transform: translateY(-50%);
}

@keyframes orbitAnim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes rotateAnim {
  0% {
    transform: translateY(-50%) rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
