#galaxy {
  position: relative;
}

#sun {
  position: absolute;
  width: 20em;
  height: 20em;
  box-shadow: 0 0 60px rgba(255, 160, 60, 0.4);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.orbit {
  position: absolute;
  border: 8px solid #ffffff;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  // transform: translate(-50%, -50%);
}

@keyframes orbitAnim {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-360deg);
  }
}

.planet {
  position: relative;
  transform: translateY(-50%);
}

@keyframes rotateAnim {
  0% {
    transform: translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateY(-50%) rotate(360deg);
  }
}

body {
  overflow-y: hidden;
}

.stars,
.twinkling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

.stars {
  background: #000 url(/img/stars.png) repeat top center;
  z-index: -10;
}

.twinkling {
  background: transparent url(/img/twinkling.png) repeat top center;
  z-index: -10;
  animation: move-twink-back 200s linear infinite;
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
